<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="../firebase/firebaseCommunity.js"></script>
    <link rel="stylesheet" href="../assets/css/community.css">
</head>
<body>
    <h1><a href="#uploadform">Click here to show your contribution</a></h1>

    <div class="community-cards"></div>
    <footer>
    <div class="form">
        <form action="post" id="uploadform">
            <div class="form-content">
               <p id="imgText">Upload your Image Here!</p>
                <label for="image" class="image">Upload image</label>
                <input type="file" name="image" id="image" accept="image/*" required>
            </div>
            <div class="form-content">
                <label for="description">Enter description for your Image:</label>
                <input type="text" name="description" id="description" required >
            </div>

            <input type="button" value="Submit" id="submit">
        </form>
    </div>
</footer>
</body>
</html>
