<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aid-Grid Donation form</title>
    <script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js"></script>
    <link rel="stylesheet" href="../assets/css/form.css">
</head>
<body>
    
        <form class="donation-form" id="donationForm">
            <h2>Make a Donation</h2>
            <img src="../assets/images/codefurylogo.png" alt="" >
            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="amount">Donation Amount</label>
                <input type="number" id="amount" name="amount" required>
            </div>
            <div class="form-group">
                <label for="payment-method">Payment Method</label>
                <select id="payment-method" name="payment-method" required>
                    <option value="credit-card">Credit Card</option>
                    <option value="paypal">UPI</option>
                    <option value="bank-transfer">Bank Transfer</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Donate Now"id="submitDonation">
            </div>
            <div id="donationMessage" style="display:none; color: green; margin-top: 20px;"></div>
        </form>
        <script type="module" src="../firebase/firebaseform.js"></script>
</body>
</html>