@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Spicy+Rice&display=swap');
html{
    scroll-behavior: smooth;
  }
  
  body{
    font-weight: 500;
    font-size: larger;
    letter-spacing: 1px;
    font-family:"Noto Sans", sans-serif ;
    overflow-x: hidden;
    margin: 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: static; 
    top: 0; 
    left: 0; 
    z-index: 98;
    background-color: #FF4C2D;
    backdrop-filter: blur(10px);
  }

  #userName{
    padding-left: 20px;
    font-family:"Noto Sans", sans-serif ;
  }
  
  .logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .logo img {
    height: 7vh;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
  }

  .navItems {
    display: flex;
    align-items: center;
    padding-right: 30px;
  }
  
  .navItems ul {
    display: flex;
    justify-content: space-between;
    width: 45vw;
    padding: 20px;
    list-style: none;
    align-items: center;
  }
  
  .navItems li {
    transition: 0.3s ease-in;
  }
  
  .navItems li:hover {
    transform: scale(1.08);
    cursor: pointer;
  }
  
  .navItems a:link,
  .navItems a:visited{
    text-decoration: none;
    color: black; 
  }
  
  .navItems a:hover,
  .navItems a:active{
    text-decoration: none;
    color: black;
  }
.animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 20px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff40;
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #112280;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button span:first-child {
    position: relative;
    z-index: 1;
  }
  .animated-button:hover #loginButton{
    color: white;
  }
  .animated-button:hover {
    box-shadow: 0 0 0 3px #2195f360;
    color: #ffffff;
  }
  
  .animated-button:active {
    scale: 0.95;
  }
  
  .animated-button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
  }
  
  @media only screen and (width < 640px) {
    .logo{
      padding-left: 0;
    }
  
    .logo .logoname{
      font-size: small;
      width: 50vw;
    }
    .logo img {
      margin: 10px;
    }
  
    .logo .logoname .ca{
      display: none;
    }
  
    nav {
      align-items: center;
      justify-content: space-between;
    }
  
    .navItems{
      display: none;
    }
  }
  
body::-webkit-scrollbar {
    width: .4em;
  }
   
  body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, rgba(0,0,0,1));
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgb(85, 84, 84);
    outline: 1px solid slategrey;
    border-radius: 15px;
    margin: 2px;
  }
  
  .hamburger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: none;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .hamburger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .hamburger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .hamburger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .hamburger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .hamburger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .hamburger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }
  
   /* The Overlay (background) */
   .overlay { 
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: #0B2447;
    overflow-x: hidden; 
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center; 
    margin-top: 30px;
    text-decoration: overline;
    text-underline-offset: 10px;
    text-decoration-color: white;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 50px;
    color: white;
    display: block; 
    transition: 0.3s; 
  }
  
  .overlay a:hover, .overlay a:focus {
    color: rgba(78, 101, 255, 1);
  }
  
  @media only screen and (width < 640px) {
    .hamburger{
      display: block;
      margin: 20px;
    }
    #container2 .content{
      box-sizing: border-box;
      flex-direction: column;
      padding: 30px;
      border: 1px solid rgba(78, 101, 255, 1);
      margin: 5px;
      border-radius: 1rem;
      width: 70vw;
    }
    #container2 img #image1{
      width: 75vw;
      height: auto;
    }
  }
  footer {
    background-color: #112280;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 10px;
    padding: 10px;
    height: 75px;
}

footer p{
  color: white;
}

#container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vw;
  margin: auto;
  padding: 50px;
  min-height: 80vh;
}

#container2 img {
  height: 200px;
  width: auto;
  margin: 50px;

}

#container2 .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and( max-width: 768px){
  #container2 img {
    height: 200px;
    width: 20vw;
    margin: 50px;
    object-fit: contain;
    
  } 
}