/* Footer */
footer {
    background-color: #f00;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-container {
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
}

.nav-links ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-links ul li {
    padding: 0 10px;
    border-right: 2px solid #000;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.nav-links ul li:first-child {
    padding-left: 0;
}

.nav-links ul li:nth-child(3) {
    border-right: none;
}

.nav-links ul li a:hover {
    text-decoration: underline;
    color: #000;
}

.social-media {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.social-media i {
    padding: 0 5px;
    cursor: pointer;
    transition: font-size 0.1s ease-in-out;
}

.social-media i:hover {
    font-size: 30px;
    padding: 0;
}