.image-carousel {
    display: flex;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

}

.image-slider {
    display: flex;
    animation: 10s slide infinite linear;
    transition: all 0.3s ease;
}

.image-slider .images-container {
    object-fit: contain;
    margin: 0 20px;
}

.images-container img {
    height: 200px;
    width: 150px;
    object-fit: cover;
    object-position: center;
}

.image-carousel:hover .image-slider {
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}