* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #333;
}



/* About Us Section */
.about-us-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

#about-us {
    border: 1px solid #333;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}




/* Logo and Button Styling */
#logo {
    width: 50px;
}

li>div {
    background-color: #f0f8ff;
    border-radius: 30px;
    padding: 3px 0 0 3px;
    width: 55px;
}

.what-we-do {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 50px;
    margin-bottom: 50px;
}

.what-we-do .content-card {
    background-color: #51ff0cf8;
    padding: 20px;
    border-radius: 15px;
}

.what-we-do .content-card h3 {
    text-align: center;
    margin-bottom: 20px;
}

@media(max-width: 800px) {
    .what-we-do {
        display: grid;
        grid-template-columns: 1fr;
    }
}